@import './../../styles/variables';
@import './../../styles/mixins';


.product-detail {
  @include content;
  font: inherit;
  color: inherit;

  &__picture {
    overflow: hidden;
    border-radius: $border-radius--s;
    margin: 0 auto;
    padding: $space--m;
    max-width: 680px;
    
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  
  &__data {
    padding: $space--m;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: $space--xs;
    margin-bottom: $space--xs;
    font-size: $font--xs;
  }

  &__pricing {
    display: flex;
    align-items: center;
    gap: $space--xs;
    margin: $space--s 0;
    font-size: $font--xl;
  }

  &__currency {
    font-size: $font--l;
  }

  &__content {
    padding: $space--m;
    margin: 0;
    max-width: none;
  }

  &__title {
    font-size: $font--xl;
  }
  
  &__description-title {
    font-size: $font--l;
  }

  &__description {
    font-size: $font--m;
    line-height: 1.4;
  }
}


@media screen and (min-width: $breakpoint--m) {

  .product-detail {

    &__picture {
      width: 420px;
      height: 420px;
      min-width: 420px;
      
      img {
        height: 100%;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__status {
      margin: $space--m 0;
      font-size: $font--s;
    }

    &__currency {
      font-size: $font--xxl;
    }

    &__pricing {
      margin: $space--xl 0;
      font-size: $font--xxxl;
    }

    &__description-title {
      font-size: $font--xxl;
    }

    &__description {
      font-size: $font--m;
    }
  }
}

@media screen and (min-width: $breakpoint--l) {

  .product-detail {

    &__picture {
      width: 680px;
      height: 680px;
      min-width: 680px;
    }

    &__data {
      padding: $space--xl;
    }
  }
}