@import './../../styles/variables';
@import './../../styles/mixins';

$header-background: $bg--primary;
$btn-background: $bg--secondary;
$btn-font-size: $font--l;
$btn-font-size--small: $font--s;

.header {
  background: $header-background;
  display: flex;
  justify-content: center;

  &__wrapper {
    @include content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space--s;
    padding: $space--s;
  }
}

.logo {
  width: 50px;
  flex-shrink: 0;
  cursor: pointer;
}

.search-box {
  flex: 1;
  display: flex;
  border-radius: $border-radius--s;
  overflow: hidden;
  justify-content: center;

  &__input {
    @include clean-browser-effects;
    flex: 1;
    padding: 0 $space--xs;
    font-size: $btn-font-size--small;
    max-width: calc(100% - 38px);
  }

  &__button {
    @include clean-browser-effects;
    padding: $space--s;
    background: $btn-background;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}


@media screen and (min-width: $breakpoint--m) {
  .header {

    &__wrapper {
      gap: $space--xl;
      padding: $space--s;
    }
  }

  .search-box {

    &__input {
      display: block;
      font-size: $btn-font-size;
      padding: 0 $space--m;
      max-width: none;
    }
  }
}


@media screen and (min-width: $breakpoint--xl) {
  .header {

    &__wrapper {
      padding: $space--s 0;
    }
  }
}