@import './../../styles/variables';
@import './../../styles/mixins';

.app-frame {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: calc(100vh - 58px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  @include content;
  font-size: $font--s;
  flex: 1;
}

.app-content--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
