@import './../../styles/variables';
@import './../../styles/mixins';

$font-color: $font--secondary;
$item-border: 1px solid $border-color;

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space--s;
  padding: $space--s;
  border-bottom: $item-border;
  color: $font-color;

  &:last-child {
    border: none;
  }

  &__picture {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: $border-radius--s;
    overflow: hidden;
    margin: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__data {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__description {
    margin-bottom: $space--xs;
    display: flex;
    flex-direction: column;
  }

  &__pricing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__amount {
    font-size: $font--xl;
    line-height: 1;
  }
  
  &__decimals {
    font-size: $font--m;
    align-self: flex-start;
    margin-right: $space--m;
    line-height: 1;
  }
  
  &__currency {
    font-size: $font--m;
    margin-right: $space--xs;
    line-height: 1;
  }

  &__name {
    font-size: $font--m;
    font-weight: normal;
    margin: 0;
  }

  &__city {
    margin-right: $space--xl;
    font-size: $font--xs;
  }
}


@media screen and (min-width: $breakpoint--s) {

  .result {
    flex-direction: row;
    align-items: flex-start;
    gap: $space--m;
    padding: $space--m;

    &__picture {
      width: 180px;
      height: 180px;
    }

    &__description {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media screen and (min-width: $breakpoint--m) {

  .result {

    &__data {
      padding: $space--m 0;
    }

    &__description {
      margin-bottom: $space--xl;
    }
  }
}

@media screen and (min-width: $breakpoint--l) {

  .result {

    &__amount {
      font-size: $font--xl;
    }
    
    &__decimals {
      font-size: $font--l;
    }
    
    &__currency {
      font-size: $font--xl;
    }
  
    &__name {
      font-size: $font--xl;
    }
  }
}