@import './../../styles/variables';
@import './../../styles/mixins';

$link-hover: $font--highliht;

.breadcrumb {
  @include content;
  font-size: $font--s;
  margin: 0;
  padding: 0 $space--s;
  
  &__list {
    list-style: none;
    padding: $space--m 0 $space--xs;
    margin: 0;
  }
  
  &__item {
    display: inline-block;
    margin-bottom: $space--xs;
    
    &:not(:last-child):after {
      content: ">";
      margin: 0 $space--xs;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__name {
    cursor: pointer;

    &:hover {
      color: $link-hover;
    }
  }
}

@media screen and (min-width: $breakpoint--xl) {

  .breadcrumb {
    padding: 0;
  }
}