@import './../../styles/variables';
@import './../../styles/mixins';

$font-color: $font--secondary;
$list-background: $bg--tertiary;

.result-list {
  @include content;
  margin: 0;
  padding: 0;
  max-width: none;
  background: $list-background;
  color: $font-color;
  font: inherit;
}
