@import './../styles/variables';
@import './../styles/mixins';

.home {
  line-height: 1.5;
  padding: $space--m;

  &__intro {
    font-size: $font--l;
  }

  &__instructions {
    font-size: $font--m;
    margin: 0;
    padding: 0 $space--m;
  }
}