@import './variables';

$btn-font: $font--action;
$btn-background: $bg--action;
$btn-background--hover: $bg--action-hover;
$btn-radius: $border-radius--s;


html {
  font-size: 10px;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: $font--primary;
}

.btn {
  padding: $space--s $space--m;
  border-radius: $btn-radius;
  text-align: center;
  color: $btn-font;
  background: $btn-background;
  outline: none;
  border: none;
  cursor: pointer;
  
  &:hover {
    background: $btn-background--hover;
  }

  &--w100 {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
