//#region Colors
// Palette
$meli: #ffe600;
$grey3: #333;
$grey6: #666;
$grey9: #999;
$greye: #eee;
$white: #fff;
$blue: #3483fa;
$dark-blue: #2968c8;

// Semantical
$font--primary: $grey6;
$font--secondary: $grey3;
$font--highliht: $blue;
$font--action: $white;
$bg--primary: $meli;
$bg--secondary: $greye;
$bg--tertiary: $white;
$bg--action: $blue;
$bg--action-hover: $dark-blue;
$border-color: $greye;
//#endregion


//#region Spacing
$space--xs: .8rem;
$space--s: 1rem;
$space--m: 1.6rem;
$space--l: 2.4rem;
$space--xl: 3.2rem;
//#endregion


//#region Font sizes
$font--xs: 1.2rem;
$font--s: 1.4rem;
$font--m: 1.6rem;
$font--l: 1.8rem;
$font--xl: 2.4rem;
$font--xxl: 2.8rem;
$font--xxxl: 4.6rem;
//#endregion


//#region Radius
$border-radius--s: .4rem;
$border-radius--m: .8rem;
//#endregion


//#region Breakpoints
$breakpoint--s: 600px;
$breakpoint--m: 780px;
$breakpoint--l: 1080px;
$breakpoint--xl: 1200px;
//#endregion


//#region Content
$content-width: 1200px;
//#endregion
